<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">게시판 목록
        <span>
            <a th:href="@{/board/register}">
                <button class="btn btn-outline-primary" type="button">등록하기</button>
            </a>
        </span>
        </h1>

        <form th:action="@{/board/list}" method="get" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">
                    <select name="type" class="custom-select">
                        <option th:selected="${requestDTO.type==null}">-------</option>
                        <option th:selected="${requestDTO.type=='t'}" value="t">제목</option>
                        <option value="c" th:selected="${requestDTO.type=='c'}">내용</option>
                        <optino value="w" th:selected="${requestDTO.type== 'w'}"></optino>
                        <option value="tc" th:selected="${requestDTO.type == 'tc'}">제목+내용</option>
                        <option value="tcw" th:selected="${requestDTO.type == 'tcw'}">제목+내용+작성자</option>
                    </select>
                </div>
                <input type="text" class="form-control" name="keyword" th:value="${requestDTO.keyword}">
                <div class="input-group-append" id="button-addon4">
                    <button class=" btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class=" btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
           </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <th scope="row">
                    <a th:href="@{/board/read(bno=${dto.bno},page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
                        [[${dto.bno}]]
                    </a>
                </th>
                <th>[[${dto.title}]]-----[<b th:text="${dto.replyCount}"/>]></th>
                <td>[[${dto.memberName}]] <small>[[${dto.memberEmail}]]</small></td>
                <td>[[${#temporals.format(dto.regDate,'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/board/list(page=${result.start-1},type=${requestDTO.type},keyword=${requestDTO.keyword})}" tabindex="-1">
                    이전페이지
                </a>
            </li>
            <li th:class=" 'page-item ' +${result.page == page? 'active':'' } " th:each="page : ${result.pageList}">
                <a class="page-link" th:href="@{/board/list(page=${page},
                type=${requestDTO.type},keyword=${requestDTO.keyword})}">
                    [[${page}]]
                </a>
            </li>
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/board/list(page=${result.end+1},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
                    다음페이지
                </a>
            </li>
        </ul>

        <script th:inline="javascript">
         var searchForm =$("#searchForm");
            $('.btn-search').click(function(){
                searchForm.submit();
                });

         var page = $("input[name='page']");



                $(".btn-clear").click(function(){
                    searchForm.empty().submit();
                })
        </script>

    </th:block>
</th:block>
</html>